<% title 'Forgot your password?' %>

<div class="container">
  <%= render '/layouts/menu-logo' %>
</div>

<div class="container form-registration">

  <div class="col-lg-4 col-lg-offset-4">
    <h2 class="painel-header text-center">Forgot your password?</h2>
    <hr>
  </div>

  <div class="col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2 form-new-user">
    <br>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <fieldset class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, required: true, class: 'form-control' %>
      </fieldset>

      <div class="actions">
        Send me reset password instructions
        <%= f.submit "Send me!", class: 'btn btn-success btn-lg btn-block' %>
      </div>
    <% end %>
    <br>
    <div class="text-center">
      <p><%= link_to "Log in", new_session_path(resource_name), class: 'cor-vermelho-morto' %></p>
      <p><%= link_to "Sign up", new_registration_path(resource_name), class: 'cor-cinza-morto' %></p>
    </div>

  </div>

</div>
